body{
    font-family: 'Krona One', sans-serif;
    color: white;
    background-color: #151515;
    margin: 0;
}


a{
    text-decoration: none;
    transition: 0.2s ease;
    color: white;
}

a:hover{
    transform: scale(1.1);  
}

#mainbody{
    padding: 2%;
    width: 90%;
    margin: 0 auto;
}


#navbar{
    background-color: black;
    padding-top: 1%;
    grid-template-columns: auto auto auto auto;
    padding-bottom: 1%;
    display: grid;
    align-content: space-between;
    text-align: center;
    border-radius: 50vh;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
}



.kek{
    color: #5F7998;
}

.zold{
    color: #EEFCCE;
}

#polaroid{
    max-width: 100%;
    height: auto;
}

.osztottdiv{
    display: flex; 
    align-items: center; 
    gap: 20px;
    width: 80%;
    margin: 0 auto;

    
}

#rolunkp{
    flex: 1; 
    margin: 0;
    text-align: justify;
}

.kep{
    height: auto;
    max-width: 300px;
}

.tablakep{
    flex: 0.4;
    max-width: 80%;
    height: auto;
}

.tabla{
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

form{
    flex: 0.6;
    margin: 0 auto;
    text-align: center;
}

input{
    border: gray 1px solid;
    font-family: 'Krona One', sans-serif;
    font-size: large;
    padding: 2%;
    border-radius: 1vh;
    margin: 5%;
    background-color: #151515;
    width: 50%;
    color: lightgray;
}

textarea{
    border: gray 1px solid;
    font-family: 'Krona One', sans-serif;
    font-size: large;
    padding: 2%;
    border-radius: 1vh;
    margin: 5%;
    background-color: #151515;
    width: 50%;
    color: lightgray;
    resize: vertical;
}

.outline {
  color: transparent;
  -webkit-text-stroke: 0.2px #5F7998;
}

#elolabcim{
    font-size: 96px;
    text-align: center;
}

.elolabtabla{
    width: 90%;
}

.elolabtabla td{
    padding: 1%;
}
.elolabtabla a:hover{
    color: gray;
}

a.kek:hover{
    color: #273649;
}

a.zold:hover{
    color: #9da786;
}